body {

    color: white;
    background-color: black;

}

figure {
    color: green;
    background: #191A1B;
    padding: 20px;

}

figure img {

    border: 5px solid white;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;

}

iframe {

    border: 5px solid white;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;

}

figure-caption {
    width: 100px;

    margin-top: 10px;
}


blockquote {
    text-align: center;
    border-left: 3px solid green;
    border-right: 3px solid green;
    color: green;
    font-family: Anton-Regular;
    font-style: normal;
    font-size: 24;
    background: black;

}
blockquote:before {
    content: "\201C";
    font-family: Anton-Regular;
    font-style: normal;
    font-size: 100;
}
blockquote:after {
    content: "\201D";
    color: green;
    font-size: 100;
    position: relative;
}

.Section {

    margin-left: 2%;

}


.subSection {

    margin-left: 4%;


}


.titleSection {
    /* background-color: #eee; */

    color: green;
    cursor: pointer;

    border: none;
    outline: none;
    margin: auto;
    font-size: 28px;
    font-weight: 600;
    font-variant:  regular;
    font-family: Anton-Regular;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
	
	/*align-content: ;*/
	text-indent: 0%;
    /* background-color: #eee; */
    color: white;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    /*font-variant:  regular;*/
    font-family: Anton-Regular;
    /*letter-spacing: 0.05em;*/
    
}
.faq-body{
	
	text-indent: 0%;
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: green;
    font-size: 20px;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 8px 18px;
    background-color: black;
    display: none;
    overflow: visible;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.Tags {font-size: 12px; font-style: italic;}

.See-Also {font-size: 12px; font-style: italic; margin-top: 5px;}


dfn {
  background: rgba(0,0,0,0.2);
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0;
  cursor: help;
  /*font-style: normal;*/
  position: relative;
  /*color: green;*/
  font-style: bold;
  font-weight: 700;
  
  
}
/*The balloon*/
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 400px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,100,0,1);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  
}
/*The arrow*/
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,100,0,1);
  transition: opacity 250ms, top 250ms;
  
}

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

body {
    overflow: scroll;
}

/*@font-face {
    font-family: 'Anton';
    
    src: url('Anton/Anton-Regular.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}*/

* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

body {

  overflow:  hidden;
  background:  black;
  color: white;

}


canvas {
  background: black;
  /*position: absolute;*/
  top: 0;
  left: 0;

}




dfn {
  background: rgba(0,0,0,0.2);
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0;
  cursor: help;
  /*font-style: normal;*/
  position: relative;
  /*color: green;*/
  font-style: bold;
  font-weight: 700;
  
  
}
/*The balloon*/
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 400px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,100,0,1);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  
}
/*The arrow*/
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,100,0,1);
  transition: opacity 250ms, top 250ms;
  
}

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

dt {
    font-weight: bold;
}

dl,
dd {
    font-size: .9rem;
}

dd {
    margin-bottom: 1em;
}


body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{

    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{

display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}

.Section {
  
  margin-left: 2%;

}


.subSection {
  
  margin-left: 4%;
  

}

.titleSection {
  /* background-color: #eee; */
  
    color: green;
    cursor: pointer;
    
    border: none;
    outline: none;
    margin: auto;
    font-size: 28px;
    font-weight: 600;
    font-variant:  regular;
    font-family: Anton-Regular;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

.subtitleSection {
  /* background-color: #eee; */
  
    color: green;
    cursor: pointer;
    
    border: none;
    outline: none;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    font-variant:  regular;
    font-family: Anton-Regular;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  
  align-content: ;
  text-indent: 0%;
    /* background-color: #eee; */
    color: white;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    font-variant:  regular;
    font-family: Anton-Regular;
    /*letter-spacing: 0.05em;*/
    
}
.faq-body{
  
  text-indent: 0%;
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: green;
    font-size: 20px;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 8 18px;
    background-color: black;
    display: none;
    overflow: visible;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.Tags {font-size: 12px; font-style: italic;}

p {
  margin-top: 1em ;
  margin-bottom: 1em ;
} 

body {
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191A1B;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #409550;
}

.activeButton {
  background-color: green;
}

.Glossary {
  margin-top: 4em;
  margin-left: 4%;
}

.Book {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4em;
  text-indent: 2%;
  text-align: justify;
}

.BookHeading {
  margin-left: 0%;
  color: green;
    cursor: pointer;

    
    border: none;
    outline: none;
    margin: auto;
    font-size: 28px;
    font-weight: 600;
    font-variant:  regular;
    font-family: Anton-Regular;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

blockquote {
  text-align: center;
  border-left: 3px solid green;
  border-right: 3px solid green;
  color: green;
  font-family: Anton-Regular;
  font-style: normal;
  font-size: 24;
  background: black;

}
blockquote:before {
  content: "\201C";
  font-family: Anton-Regular;
  font-style: normal;
  font-size: 100;
}
blockquote:after {
  content: "\201D";
  color:  green;
  font-size: 100;
  position: relative;
  
}
cite {
  font-family: 'Work Sans', sans-serif;
  font-size: 18;
}

book-figure {
  color: green;
  width:  300px;
  background: #191A1B;
  padding: 20px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

}

book-figure img {
  width: 250px;
  border: 5px solid white;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  

}
book-figure-caption {
  width: 100px;
  
  margin-top: 10px;
}
